<%= render "nav", folder: @folder %>

<div class="card">
  <div class="card-header d-flex align-items-center">
    <div class="btn-group btn-group-sm">
      <%= link_to "上传文件", upload_folder_path(@folder), class: "btn btn-outline-primary" %>
      <%= link_to "创建目录", make_folder_path(@folder), class: "btn btn-outline-info" %>
    </div>

    <% unless @folder.root? %>
      <div class="btn-group btn-group-sm ml-auto">
        <%= link_to "修改目录", edit_folder_path(@folder), class: "btn btn-outline-primary" %>
        <%= link_to "移动目录", move_folder_path(@folder), class: "btn btn-outline-success" %>
        <% if @folder.can_destroy? %>
          <%= link_to "删除目录", @folder, method: :delete, class: "btn btn-outline-danger", data: { confirm: "是否删除目录 #{@folder.name}" } %>
        <% end %>
      </div>
    <% end %>
  </div>
  <div class="card-body folder-content">
    <% @folder.children.each do |f| %>
      <%= link_to f, title: f.name, class: "item border text-decoration-none" do %>
        <i class="icon far fa-folder text-warning"></i>
        <div class="name text-truncate text-center"><%= f.name %></div>
      <% end %>
    <% end %>

    <% @folder.meta_files.each do |f| %>
      <%= link_to f, title: f.name, class: "item border text-decoration-none" do %>
        <i class="icon far fa-file text-dark"></i>
        <div class="name text-truncate text-center"><%= f.name %></div>
      <% end %>
    <% end %>
  </div>
</div>
