<%= render "nav", folder: @folder %>

<div class="card">
  <div class="card-header d-flex align-items-center">
    <%= link_to "创建目录", make_folder_path(@folder), class: "btn btn-sm btn-outline-primary mr-auto" %>

    <% unless @folder.root? %>
      <div class="btn-group btn-group-sm">
        <%= link_to "修改目录", edit_folder_path(@folder), class: "btn btn-outline-primary" %>
        <%= link_to "移动目录", move_folder_path(@folder), class: "btn btn-outline-success" %>
        <% if @folder.can_destroy? %>
          <%= link_to "删除目录", @folder, method: :delete, class: "btn btn-outline-danger", data: { confirm: "是否删除目录 #{@folder.name}" } %>
        <% end %>
      </div>
    <% end %>
  </div>
  <div class="card-body">
    <% @folder.children.each do |f| %>
      <div>
        <%= link_to f.name, f %>
      </div>
    <% end %>
  </div>
</div>
